<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица данных</title>
    <style>
        table {
            margin-top: 20px;
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }

        /* th {
            background-color: #f2f2f2;
        } */
    </style>
</head>

<body>
    {% for item in data %}
    <table>
        <thead>
            <tr style="background-color: #{{ item['color']}};">
                <th colspan="2">Значение</th>
                <th>
                    <a href="{{ item['url'] }}">{{ item["name"] }}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if 'base_score' in item['score'] %}
            <tr>
                <td>Базовая оценка CVSS {{ item['score']['version'] }}</td>
                <td>{{ item['score']['base_score'] }}</td>
                <td>{{ item['score']['vector'] }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Описание</td>
                <td colspan="2">{{ item['description'] }}</td>
            </tr>
            <tr>
                <td>Уровень потенциала нарушителя</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td rowspan="{{ item['ids']|length + 1 }}">Идентификаторы</td>
            </tr>
                {% for id in item['ids'] %}
            <tr>
                <td colspan="2">
                    <a href="{{ id['url'] }}">{{ id["name"] }}</a>
                </td>
            </tr>
                {% endfor %}
            <tr>
                <td>Уязвимые активы</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Рекомендации по устранению</td>
                <td colspan="2"></td>
            </tr>

        </tbody>
    </table>
    {% endfor %}


</body>

</html>